@charset "UTF-8";

/* -------- 共通部分 ---------- */

html {
    font-size: 100%;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}
body {

}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.button {
    display: inline-block;
    padding: 6px 8px;
    border-radius: 50px;
}
.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

/* header部分
---------------------- */

header {
    width: 100%;
    height: 100px;
    background-color: #FAB2A0;
}
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.title {
    font-family: 'RocknRoll One', sans-serif;
    letter-spacing: 0.3em;
    font-size: 1.3rem;
}
.title a {
    color: #492E23;
}
header nav {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #8D5C4A;
}
.navSideL {
    background-color: #FAF5B9;
    margin-right: 10px;
}
.navSideR {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nextReserveMessage {
    height: 30px;
    width: 180px;
    background-color: #8D5C4A;
    color: #FAF5B9;
    border-radius: 10px 10px 0 0;
}
.nextReserve {
    height: 35px;
    width: 180px;
    font-size: 0.75rem;
    background-color: #FAF5B9;
    border-radius: 0 0 10px 10px;
}
.toNRMtext {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nRMtext {
    display: inline-block;
}
/* header部分終了
---------------------- */

/* footer部分
---------------------- */

footer {
    width: 100%;
}
.footer1 {
    background-color: #8D5C4A;
    height: 200px;
    width: 100%;
}
.footerMenu {
    display: flex;
    justify-content: center;
}
footer nav {
    width: 800px;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footerNav{
    margin-left: 50px;
}
.footerNav a {
    color: #EEFFAA;
}
.footer2 {
    height: 80px;
    width: 100%;
    background-color: #492E23;
    color: #A5A5A5;
}
.footerCopy {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerLogo {
    font-family: 'RocknRoll One', sans-serif;
    letter-spacing: 0.3em;
    font-size: 1.2rem;
}
.footerLogo a {
    color: #A5A5A5;
}
.copy {
    font-size: 0.95rem;
}
/* footer部分終了
---------------------- */

/* -------- 共通部分終了 ---------- */
